:root {
    --color-main-theme: #0a0e1d; 
    --color-drop-zone: rgba(12, 12, 12, 0.7);
    --color-context-menu-bg: rgba(12, 12, 12, 0.7);
    --color-drop-zone-dragover: rgba(54, 69, 156, 0.829);
    --color-drop-zone-dragover-border: rgba(105, 120, 255, 0.836);
    --color-card: #242424a8;
    --color-text: white;
    --remove-btn-bg: rgba(0,0,0,0);
    --remove-btn-icolor: rgb(207, 49, 49);
    --remove-btn-icolor-hover:rgb(182, 34, 34);
    --footer-component-bg-color: transparent;
    --separator-line-color: rgb(255,255,255);
}

/* Configurações gerais */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: clamp(16px, 2vw, 22px);
}

body {
    background-color: var(--color-main-theme);
}


/* Container */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    padding: 1% 2%;
}

.container .dropzone {
    width: calc(90%/3);
    background-color:var(--color-drop-zone);
    padding: 1%;
    max-width: 700px;
    min-height: 600px;
    height: auto;
    border-radius: 0.75rem;
}

.container .dropzone .title-section{
    margin-bottom: 5%;
}

.container .dropzone .title-section h2{
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
}

.container .dropzone .cards{
    width:  calc(98%);
    background-color: var(--color-card);
    border-radius: 0.25rem;
    height: auto;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
}

/* component */

.container .dropzone .cards .components {
    display: flex;
    flex-direction: column;
}

/* Header-component */

.container .dropzone .cards .components .header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.container .dropzone .cards .components .header-component .button-remove-component {
    background-color: var(--remove-btn-bg);
    border: 2px solid var(--remove-btn-icolor); 
    color:  var(--remove-btn-icolor) !important;
    border-radius: 8px; 
    width: 40px; 
    height: 40px; 
    font-size: 1rem; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: 500ms ease;
    margin-left: 1rem;
}


.container .dropzone .cards .components .header-component .button-remove-component:hover {
    border: 2px solid var(--remove-btn-icolor-hover);
    color: var(--remove-btn-icolor-hover)!important;
    transition: 500ms ease;
}

.container .dropzone .cards .components .header-component .component-title {
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 0.5rem;
    height: 50px;
    width: auto;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    scrollbar-width: thin; 
    scrollbar-color: #888 transparent; 
}

.container .dropzone .cards .components .header-component .arrow_drop_down {
    font-size: 1.5rem;
    width: 40px;
    margin-right: 0.4rem;
}

/* Content-component */

.container .dropzone .cards .components .content-component {
    min-height: 100px;
    width: 95%;
}

.container .dropzone .cards .components .content-component .input-component P {
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 2%;
}

/* Footer-component */

.container .dropzone .cards .components .footer-component {
    height: auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-right: 3%;
    flex-direction: row-reverse;
    background-color: var(--footer-component-bg-color);
    border-radius: 0.25rem;
}

.container .dropzone .cards .components .footer-component .arrowMove {
    border-radius: 8px; 
    width: 40px; 
    height: 40px; 
}

/* hr style*/

.seperator-line {
    width: 90%;
    height: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--separator-line-color);
}

/* Drag And Drop Styles */

.drag-over {
    background-color: var(--color-drop-zone-dragover) !important;
    border: solid 2px var(--color-drop-zone-dragover-border) !important;
}
   
.dragging {
    opacity: 0.8 !important;
}

/* Menu context */

#menu-container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
    height: auto;
    background-color: var(--color-drop-zone-dragover);
    border-radius: 5px;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
}

#menu-container .default {
   padding: 0.25rem 0.5rem;
   width: 100%;
}

#menu-container .create_card_style {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   width: 100%;
   font-weight: 800;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   text-underline-offset: 8px; 
}

#menu-container .separator_bar {
   margin-top: 0.5%;
   width: 95%;
   margin-left: auto;
   margin-bottom: 0.5rem;
   margin-right: auto;
   background-color: white;
   border: solid white 1px;
}

#menu-container .default:hover {
    background-color: #0a0e1dc7;
 }

.hidden {
    display: none;
}

.mobile {
    display: none;
}